#title{
    background-color:#ff4c68;
    color: white;

}
.heading1{
    font-family: 'Montserrat-Black 900';
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
    font-weight: bold;

}
.container-fluid{
    padding:3% 15% 7%;
}
/* navigatiion */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 0 4.5rem;
  }
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2rem;
    font-weight: bold;


}
.nav-item{
    padding: 0px 10px;
}
.nav-link{
    font-size: 1.5rem;
    font-family: "Montserrat-light";
    color: white;
}
#navbarSupportedContent{
    text-align: left;
    display: flex;
    
}
.image1{
    transform: rotate(25deg);
    width:60%;
    position:absolute;
    right:20%;

}
body{
    font-family: 'Montserrat';
}
/* download buttons */
.download-button{
    margin:5% 3% 5% 0;
}

/* icons */
.fa-check-circle{
    color: coral;
    padding-bottom: 1rem;
}
.fa-check-circle:hover{
    color: #ff4c68;

}
.fa-bullseye{
    color: coral;
    padding-bottom: 1rem;
}
.fa-bullseye:hover{
    color:#ff4c68;
}
.fa-heart{
    color: coral;
    padding-bottom: 1rem;
}
.fa-heart:hover{
    color:#ff4c68;
}
.features-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;

}
.paras{
    color: #8f8f8f;
}
#features{
    text-align: center;
    padding:7% 5% 5%;
    position:relative;
    z-index: 1;
    background-color: white;
}
#testimonials{
  
    text-align: center;
    background-color:#ef8172;
    color: white;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
.image2{
    width: 10%;
    border-radius: 100%;
    margin:20px;
}
#press{
    background-color:#ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.images3{
    width:15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding:7%  15%;
}
#pricing{
    padding:100px;
    text-align: center;
}
.pricing-column{
    padding:3% 2%;
    
}

@media(max-width:1028px){
    #title{
        text-align: center;
    }

    .image1{
        position: static;
        transform: rotate(0);
    }
}

#cta{
    background-color:#ff3856 ;
    color: white;
    text-align: center;
    padding:7% 15%;
}
.heading-last{

    font-size: 3.5rem;
    font-family:'Montserrat-Black 900', sans-serif; 
    line-height: 1.5;

}
#footer{
    text-align: center;
    color: #8f8f8f;
    padding:7% 15%;
}
.footer-icons{
    margin:20px 10px;
}
